CRM Sales Report/CRM Sales.pbix
CRM Sales Report/CRM+Sales+Opportunities.zip
CRM Sales Report/CRM+Sales+Opportunities/accounts.csv
CRM Sales Report/CRM+Sales+Opportunities/data_dictionary.csv
CRM Sales Report/CRM+Sales+Opportunities/products.csv
CRM Sales Report/CRM+Sales+Opportunities/sales_pipeline.csv
CRM Sales Report/CRM+Sales+Opportunities/sales_teams.csv
